body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock{
  border: 10px double dodgerblue;
  border-radius: 100%;
  height: 400px;
  width: 400px;
  position: relative;
}
.hand{
  height: 0;
  width: 40%;
  border: 10px double dodgerblue;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform-origin: 100%;
  }

  .h1{border-color: blue;}
  .h2{border-color: blueviolet;}
  .h3{border-color: brown;}

